In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data_sf.csv.xls')

In [7]:
df_5kk = df.groupby('Position')['Wage'].sum().sort_values(ascending=False)

In [18]:
df_5kk.head(9)

Position
ST     11873000
GK      8784000
CB      7476000
CM      6194000
LB      6096000
CAM     5500000
LM      5440000
RM      5098000
RB      5034000
Name: Wage, dtype: int64

In [15]:
df_5kk

Position
ST     11873000
GK      8784000
CB      7476000
CM      6194000
LB      6096000
CAM     5500000
LM      5440000
RM      5098000
RB      5034000
CDM     4921000
RCB     4711000
LCB     3989000
RW      3276000
RCM     3241000
LCM     3145000
LW      2945000
LS      1866000
RDM     1557000
RS      1537000
LDM     1516000
RF       714000
LF       601000
RWB      420000
LAM      366000
LWB      347000
CF       248000
RAM       59000
Name: Wage, dtype: int64

In [21]:
df_tst = df.groupby(['Position'])[['Wage','Value']].mean().sort_values(['Value'],ascending=False)

In [22]:
df_tst

                   Wage         Value
Position
LF         75125.000000  2.736250e+07
RF        119000.000000  2.636583e+07
LAM        61000.000000  1.324583e+07
RAM        11800.000000  8.345000e+06
LS         15421.487603  5.848430e+06
LCM        13497.854077  4.318090e+06
RCM        13504.166667  4.217604e+06
RS         13482.456140  3.645833e+06
LW         12169.421488  3.603099e+06
RW         13822.784810  3.495738e+06
LDM        10243.243243  3.369459e+06
RCB        11270.334928  3.009055e+06
CAM         8688.783570  2.963199e+06
RDM        11282.608696  2.692717e+06
LCB         9753.056235  2.636516e+06
LM          7472.527473  2.466174e+06
ST          7852.513228  2.157252e+06
RM          6655.352480  2.138734e+06
LWB         5783.333333  1.931333e+06
CF          4862.745098  1.848627e+06
CDM         7121.562952  1.658900e+06
CM          5805.060918  1.617465e+06
RWB         6000.000000  1.555571e+06
GK          5352.833638  1.502502e+06
LB          6083.832335  1.429032e+06
CB          5328.581611  1.321251e+06
RB          5310.126582  1.248940e+06

Посчитайте среднюю (mean) и медианную (median) зарплату (Wage) футболистов из разных клубов (Club). В скольких клубах средняя и медианная зарплаты совпадают?

Подсказка: чтобы в процессе группировки применить к данным одновременно две агрегирующие функции, необходимо указать их как аргументы метода agg:

df.groupby(столбец_для_группировки)[столбцы_для_отображения].agg(['функция_1', 'функция_2'])

In [ ]:
asr = df.groupby(['Club'])['Wage'].agg()

In [28]:
df_tst2 = df.groupby(['Club'])['Wage'].agg([lambda x: x.mean(),lambda x: x.median()])

In [64]:
#df_tst2[df_tst2.index[1]==df_tst2.index[2]]

In [44]:
df_tst2[df_tst2['<lambda_0>']==df_tst2['<lambda_1>']].sort_values(['<lambda_0>'],ascending=False)

                        <lambda_0>  <lambda_1>
Club
Cruzeiro                   13000.0       13000
Göztepe SK                  7000.0        7000
Brøndby IF                  6000.0        6000
Sunderland                  4000.0        4000
CD Feirense                 4000.0        4000
1. FC Magdeburg             4000.0        4000
Northampton Town            2500.0        2500
Stade Brestois 29           2000.0        2000
Jeonnam Dragons             2000.0        2000
Pohang Steelers             2000.0        2000
AJ Auxerre                  2000.0        2000
Grimsby Town                2000.0        2000
Heracles Almelo             2000.0        2000
Philadelphia Union          2000.0        2000
Kashiwa Reysol              2000.0        2000
CD Tondela                  2000.0        2000
Benevento                   2000.0        2000
FC Metz                     1500.0        1500
PAOK                        1000.0        1000
Orlando Pirates             1000.0        1000
Panathinaikos FC            1000.0        1000
Patriotas Boyacá FC         1000.0        1000
PFC CSKA Moscow             1000.0        1000
Shakhtar Donetsk            1000.0        1000
SK Slavia Praha             1000.0        1000
Shamrock Rovers             1000.0        1000
Sligo Rovers                1000.0        1000
Sparta Praha                1000.0        1000
Spartak Moscow              1000.0        1000
St. Patrick's Athletic      1000.0        1000
Trelleborgs FF              1000.0        1000
Olympiacos CFP              1000.0        1000
Jaguares de Córdoba         1000.0        1000
Lokomotiv Moscow            1000.0        1000
Dynamo Kyiv                 1000.0        1000
Bohemian FC                 1000.0        1000
Boyacá Chicó FC             1000.0        1000
Bray Wanderers              1000.0        1000
Cork City                   1000.0        1000
Deportivo Pasto             1000.0        1000
Dinamo Zagreb               1000.0        1000
Dundalk                     1000.0        1000
Envigado FC                 1000.0        1000
Limerick FC                 1000.0        1000
FC Energie Cottbus          1000.0        1000
HJK Helsinki                1000.0        1000
IF Brommapojkarna           1000.0        1000
IK Sirius                   1000.0        1000
Itagüí Leones FC            1000.0        1000
AEK Athens                  1000.0        1000
Kaizer Chiefs               1000.0        1000
Viktoria Plzeň              1000.0        1000

In [45]:
df_Chelsea = df[df['Club']=='Chelsea'].groupby(['Club'])['Wage'].sum()

In [46]:
df_Chelsea

Club
Chelsea    2035000
Name: Wage, dtype: int64

In [55]:
df_Argentina = df[(df['Nationality']=='Argentina')&(df['Age']==20)]['Wage'].max()

In [56]:
df_Argentina

54000

In [61]:
df_Arg2 = df[(df['Age']==30)&(df['Nationality']=='Argentina')].groupby(['Nationality','Age'])['Wage'].min()

In [62]:
df_Arg2

Nationality  Age
Argentina    30     1000
Name: Wage, dtype: int64

In [71]:
df_last = df[(df['Club']=='FC Barcelona')]

Определите максимальную силу (Strength) и баланс (Balance) среди игроков клуба (Club) "FC Barcelona" из Аргентины ("Argentina"). Ответ введите через точку с запятой без пробела.

In [81]:
df_last = df[(df['Club']=='FC Barcelona')&(df['Nationality']!='Argentina')][['Strength','Balance']].groupby(['Club'],['Nationality']).max()

TypeError: unhashable type: 'list'

In [80]:
df_last

      Strength  Balance
7           83       83
18          79       43
20          77       52
32          61       93
42          84       66
49          61       85
53          66       66
54          83       36
96          79       75
141         46       85
190         62       86
195         80       60
204         67       50
235         62       83
605         79       56
1464        63       75
5377        67       61
5613        60       64
6124        51       75
7312        64       45
9028        54       51

In [101]:
df_last2 = df[(df['Nationality']=='Argentina')&(df['Club']=='FC Barcelona')].groupby(['Club','Nationality']).max()[['Strength','Balance']]
df_last2

                          Strength  Balance
Club         Nationality
FC Barcelona Argentina          59       95

In [94]:
df_last2

,Unnamed: 0,Name,Age,Nationality,Value,Wage,Position,Crossing,Finishing,HeadingAccuracy,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
Club,,,,,,,,,,,,,,,,,,,,,
SSV Jahn Regensburg,12711,S. Stolze,33,Poland,950000,8000,ST,71,68,72,...,67,67,70,71,72,72,66,66,68,74
1. FC Heidenheim 1846,12465,V. Eicher,32,Germany,5000000,14000,ST,82,73,73,...,84,75,69,72,71,67,66,61,67,69
1. FC Kaiserslautern,12451,W. Hesl,33,Turkey,900000,3000,ST,73,66,67,...,65,73,67,68,67,63,59,55,64,62
1. FC Köln,12605,Y. Bisseck,35,United States,24000000,26000,RM,79,69,71,...,76,78,76,79,79,83,80,83,82,86
1. FC Magdeburg,11622,T. Müller,32,Kosovo,45000000,8000,ST,68,74,76,...,63,70,67,73,77,71,66,60,67,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zagłębie Sosnowiec,12922,Z. Udovičić,36,Slovenia,675000,2000,ST,65,65,67,...,67,68,63,67,65,66,64,67,65,64
Çaykur Rizespor,11938,S. Koç,34,Turkey,7000000,13000,ST,75,68,76,...,66,74,70,74,70,66,65,60,66,69
Örebro SK,13085,V. Tranberg,34,Syria,725000,2000,ST,65,66,66,...,69,72,67,64,66,70,63,64,67,70
Östersunds FK,12950,T. Tekie,31,Sweden,975000,8000,ST,68,71,73,...,62,68,68,63,72,74,65,77,64,71
Śląsk Wrocław,12493,W. Golla,35,Slovakia,1000000,4000,ST,67,72,76,...,75,72,63,71,70,69,56,53,70,68