In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003
627,tt0914798,12500000,20416563,The Boy in the Striped Pyjamas,Vera Farmiga|David Thewlis|Rupert Friend|David...,Mark Herman,"Lines may divide us, but hope will unite us.",When his family moves from their home in Berli...,94,War|Drama,Miramax Films|BBC Films|Heyday Films,5/7/2008,7.6,2008
307,tt0465580,38000000,45465299,Push,Dakota Fanning|Camilla Belle|Chris Evans|Djimo...,Paul McGuigan,One push can change everything.,"After his father, an assassin, is brutally mur...",111,Action,Icon Productions|Infinity Features Entertainme...,2/6/2009,5.8,2009
1381,tt0384806,19000000,108047131,The Amityville Horror,Ryan Reynolds|Melissa George|Jesse James|ChloÃ...,Andrew Douglas,What happened over the next 28 days has never ...,A family is terrorized by demonic forces after...,90,Horror|Thriller|Drama,Platinum Dunes|Dimension Films|Metro-Goldwyn-M...,4/15/2005,6.0,2005
176,tt2626350,45000000,86165646,Step Up All In,Ryan Guzman|Briana Evigan|Stephen Boss|Misha G...,Trish Sie,Every Step Has Led To This,All-stars from the previous Step Up installmen...,112,Romance|Drama|Music,Summit Entertainment|Offspring Entertainment,7/16/2014,6.7,2014

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [11]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
data[data['budget']==data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [15]:
data.sort_values('budget',ascending=False).iloc[:1]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

# 2. Какой из фильмов самый длительный (в минутах)?

In [17]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [16]:
data[data['runtime']==data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [18]:
data[data['runtime']==data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

In [19]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [24]:
data.runtime.sum()/len(data.runtime)

109.6585494970884

In [ ]:
answers['4'] = '2. 110'

# 5. Каково медианное значение длительности фильмов?

In [28]:
answers['5'] = '5. 1'

In [25]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [0]:
# лучше код получения столбца profit вынести в Предобработку что в начале

In [52]:
data['profit'] = data.revenue-data.budget

In [53]:
data.sort_values('profit',ascending=False).iloc[0]

imdb_id                                                         tt0499549
budget                                                          237000000
revenue                                                        2781505847
original_title                                                     Avatar
cast                    Sam Worthington|Zoe Saldana|Sigourney Weaver|S...
director                                                    James Cameron
tagline                                       Enter the World of Pandora.
overview                In the 22nd century, a paraplegic Marine is di...
runtime                                                               162
genres                           Action|Adventure|Fantasy|Science Fiction
production_companies    Ingenious Film Partners|Twentieth Century Fox ...
release_date                                                   12/10/2009
vote_average                                                          7.1
release_year                                                         2009
profit                                                         2544505847
Name: 239, dtype: object

In [35]:
answers['6'] = '5. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [149]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [54]:
data.sort_values('profit',ascending=True).iloc[0:1]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [44]:
answers['8'] = '1. 1478'

In [42]:
len(data.query('revenue > budget'))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [47]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [56]:
data[data['release_year']==2008].sort_values('profit',ascending=False).iloc[0]

imdb_id                                                         tt0468569
budget                                                          185000000
revenue                                                        1001921825
original_title                                            The Dark Knight
cast                    Christian Bale|Michael Caine|Heath Ledger|Aaro...
director                                                Christopher Nolan
tagline                                                   Why So Serious?
overview                Batman raises the stakes in his war on crime. ...
runtime                                                               152
genres                                        Drama|Action|Crime|Thriller
production_companies    DC Comics|Legendary Pictures|Warner Bros.|Syncopy
release_date                                                    7/16/2008
vote_average                                                          8.1
release_year                                                         2008
profit                                                          816921825
Name: 599, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [59]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [58]:
data.query('release_year in [2012,2013,2014]').sort_values('profit',ascending=True).iloc[0:3]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090
1214,tt0790736,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,7/18/2013,5.3,2013,-68351500
1007,tt1374992,60000000,8106475,Upside Down,Kirsten Dunst|Jim Sturgess|Timothy Spall|James...,Juan Diego Solanas,Two worlds. One future.,In an alternate universe where twinned worlds ...,104,Romance|Science Fiction|Drama|Fantasy,Onyx Films|Studio 37|Jouror Productions|France...,9/27/2012,6.1,2012,-51893525

# 11. Какого жанра фильмов больше всего?

In [132]:
answers['11'] = '4. Comedy'

In [131]:
data.groupby(by='genres').count().sort_values('imdb_id',ascending=False)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,production_companies,release_date,vote_average,release_year,profit,release_month,time_of_year
genres,,,,,,,,,,,,,,,,
Comedy,141,141,141,141,141,141,141,141,141,141,141,141,141,141,141,141
Drama,102,102,102,102,102,102,102,102,102,102,102,102,102,102,102,102
Comedy|Romance,60,60,60,60,60,60,60,60,60,60,60,60,60,60,60,60
Drama|Romance,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45,45
Horror|Thriller,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Comedy|Drama|Horror,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Comedy|Drama|Family|Music|Romance,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Comedy|Drama|Family|Music,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Comedy|Drama|Family|Fantasy|Romance,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Western|History|War,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [130]:
answers['12'] = '2. Comedy'

In [129]:
data[data.profit>0].groupby(by='genres').count().sort_values('imdb_id',ascending=False)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,production_companies,release_date,vote_average,release_year,profit,release_month,time_of_year
genres,,,,,,,,,,,,,,,,
Comedy,121,121,121,121,121,121,121,121,121,121,121,121,121,121,121,121
Drama,70,70,70,70,70,70,70,70,70,70,70,70,70,70,70,70
Comedy|Romance,52,52,52,52,52,52,52,52,52,52,52,52,52,52,52,52
Drama|Romance,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38
Horror|Thriller,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Comedy|Crime|Drama|Thriller,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Comedy|Crime|Drama|Romance|Thriller,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Comedy|Crime|Drama,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Comedy|Crime|Action,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Western|Drama|Adventure|Thriller,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [70]:
answers['13'] = '5. Peter Jackson'

In [69]:
data.groupby(by='director').sum().sort_values('revenue',ascending=False).iloc[:1]

,budget,revenue,runtime,vote_average,release_year,profit
director,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [137]:
answers['14'] = '1. Ridley Scott'

In [146]:
data[data.genres=='Action'].groupby(by='director').count().sort_values('imdb_id',ascending=False)

,imdb_id,budget,revenue,original_title,cast,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,time_of_year
director,,,,,,,,,,,,,,,,
Rob Cohen,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Andrew Davis,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Andy Tennant,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Christopher McQuarrie,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Harald Zwart,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
John Moore,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Joseph Kahn,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Kevin Macdonald,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Marcus Nispel,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Paul McGuigan,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Renny Harlin,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Ridley Scott,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Rob Bowman,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Robert Rodriguez,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Sydney Pollack,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [79]:
data[data['genres']=='Action'].groupby(by='director').count()

,imdb_id,budget,revenue,original_title,cast,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
director,,,,,,,,,,,,,,
Andrew Davis,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Andy Tennant,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Christopher McQuarrie,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Harald Zwart,1,1,1,1,1,1,1,1,1,1,1,1,1,1
John Moore,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Joseph Kahn,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Kevin Macdonald,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Marcus Nispel,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Paul McGuigan,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Renny Harlin,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Ridley Scott,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Rob Bowman,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Rob Cohen,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Robert Rodriguez,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Sydney Pollack,1,1,1,1,1,1,1,1,1,1,1,1,1,1

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [157]:
answers['15'] = '3. Chris Hemsworth'

In [143]:
data[data.release_year==2012].groupby(by='cast').sum().sort_values('revenue',ascending=False)

,budget,revenue,runtime,vote_average,release_year,profit
cast,,,,,,
Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson,220000000,1519557910,143,7.3,2012,1299557910
Daniel Craig|Judi Dench|Javier Bardem|Ralph Fiennes|Naomie Harris,200000000,1108561013,143,6.8,2012,908561013
Christian Bale|Michael Caine|Gary Oldman|Anne Hathaway|Tom Hardy,250000000,1081041287,165,7.5,2012,831041287
Ian McKellen|Martin Freeman|Richard Armitage|Andy Serkis|Cate Blanchett,250000000,1017003568,169,6.9,2012,767003568
John Leguizamo|Ray Romano|Chris Wedge|Denis Leary|Seann William Scott,95000000,877244782,88,6.2,2012,782244782
...,...,...,...,...,...,...
Kirsten Dunst|Jim Sturgess|Timothy Spall|James Kidnie|Heidi Hawkins,60000000,8106475,104,6.1,2012,-51893525
Robert Pattinson|Sarah Gadon|Juliette Binoche|Paul Giamatti|Samantha Morton,20500000,6063556,109,4.8,2012,-14436444
Bruce Willis|Josh Duhamel|Rosario Dawson|Vincent D'Onofrio|50 Cent,20000000,4636169,97,5.7,2012,-15363831
Jason Bateman|Hope Davis|Frank Grillo|Paula Patton|Michael Nyqvist,10000000,3428048,115,6.7,2012,-6571952
Nicolas Cage|Malin Ã…kerman|Josh Lucas|Sami Gayle|Danny Huston,35000000,2106557,96,5.1,2012,-32893443

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [144]:
answers['16'] = '1. Tom Cruise'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [141]:
answers['17'] = '2. Action'

In [140]:
data[data.cast.str.contains('Nicolas Cage')].groupby(by='genres').count().sort_values('imdb_id',ascending=False)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,production_companies,release_date,vote_average,release_year,profit,release_month,time_of_year
genres,,,,,,,,,,,,,,,,
Action|Crime|Thriller,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Crime|Drama|Thriller,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Action|Adventure|Drama|Mystery|Science Fiction,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Comedy|Drama,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Thriller|Action|Science Fiction,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Thriller|Action|Fantasy|Horror,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Fantasy|Thriller|Action|Crime,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Fantasy|Adventure|Animation|Comedy|Family,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Fantasy|Adventure|Action|Comedy|Drama,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Drama|History|Thriller,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Drama|Crime,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Drama|Action|History|War,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Comedy|Drama|Romance|Fantasy,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Comedy|Crime|Drama,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Action|Adventure|Mystery|Thriller,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Animation|Action|Family|Science Fiction,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Adventure|Fantasy|Action,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Adventure|Animation|Comedy|Family|Fantasy,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Adventure|Action|Thriller|Mystery,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Action|Science Fiction|Thriller,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Action|Fantasy|Thriller,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Action|Drama|Thriller,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Action|Crime|Drama|Thriller,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Action|Crime,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Thriller|Crime,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

# 18. Самый убыточный фильм от Paramount Pictures

In [87]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [86]:
data[data.production_companies.str.contains('Paramount Pictures')].sort_values('profit',ascending=True).iloc[:3]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034
1123,tt0300556,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,Richard Donner,They had to travel into the past to save the f...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures|Donners' Company|Mutual Fil...,11/26/2003,5.1,2003,-60519261
1722,tt0435705,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures|Virtual Studios|Revolution ...,4/24/2007,5.9,2007,-51788987

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [97]:
answers['19'] = '5. 2015'

In [96]:
data.groupby(by='release_year').sum().sort_values('revenue',ascending=False).iloc[:1]

                  budget      revenue  runtime  vote_average       profit
release_year
2015          6780630004  25449202382    13355         755.2  18668572378

# 20. Какой самый прибыльный год для студии Warner Bros?

In [99]:
answers['20'] = '1. 2014'

In [98]:
data[data.production_companies.str.contains('Warner Bros')].groupby(by='release_year').sum().sort_values('revenue',ascending=False).iloc[:1]

                 budget     revenue  runtime  vote_average      profit
release_year
2014          947600000  3243064519     1576          88.9  2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [111]:
answers['21'] = '4. Сентябрь'

In [109]:
data['release_month'] = data.release_date.apply(lambda x:str(x).split('/')[0])

In [110]:
data.groupby(by='release_month').count()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
release_month,,,,,,,,,,,,,,,
1,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110
10,186,186,186,186,186,186,186,186,186,186,186,186,186,186,186
11,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146
12,190,190,190,190,190,190,190,190,190,190,190,190,190,190,190
2,135,135,135,135,135,135,135,135,135,135,135,135,135,135,135
3,156,156,156,156,156,156,156,156,156,156,156,156,156,156,156
4,149,149,149,149,149,149,149,149,149,149,149,149,149,149,149
5,140,140,140,140,140,140,140,140,140,140,140,140,140,140,140
6,147,147,147,147,147,147,147,147,147,147,147,147,147,147,147
7,142,142,142,142,142,142,142,142,142,142,142,142,142,142,142
8,161,161,161,161,161,161,161,161,161,161,161,161,161,161,161
9,227,227,227,227,227,227,227,227,227,227,227,227,227,227,227

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [120]:
answers['22'] = '2. 450'

In [116]:
def time_of_year(date_str):
    date_month = date_str.split('/')[0]
    if date_month in '345':
        return 'spring'
    elif date_month in '678':
        return 'summer'
    elif date_month in ('9','10','11'):
        return 'fall'
    else:
        return 'winter'

In [117]:
data['time_of_year'] = data.release_date.apply(time_of_year)

In [119]:
data.groupby(by='time_of_year').count()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
time_of_year,,,,,,,,,,,,,,,,
fall,559,559,559,559,559,559,559,559,559,559,559,559,559,559,559,559
spring,445,445,445,445,445,445,445,445,445,445,445,445,445,445,445,445
summer,450,450,450,450,450,450,450,450,450,450,450,450,450,450,450,450
winter,435,435,435,435,435,435,435,435,435,435,435,435,435,435,435,435

# 23. Для какого режиссера зима – самое продуктивное время года?

In [123]:
answers['23'] = '5. Peter Jackson'

In [122]:
data[data['time_of_year']=='winter'].groupby(by='director').count().sort_values('imdb_id',ascending=False)

,imdb_id,budget,revenue,original_title,cast,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,time_of_year
director,,,,,,,,,,,,,,,,
Peter Jackson,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
Steven Soderbergh,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Clint Eastwood,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Adam Shankman,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Martin Scorsese,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
GÃ¡bor CsupÃ³,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Guy Ritchie,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Guy Ferland,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Gus Van Sant,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Will Gluck,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [152]:
answers['24'] = '1. Universal Pictures (Universal)'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [153]:
answers['25'] = '4. Paramount Pictures'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [151]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave верно'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [156]:
answers['27'] = '4. Adam Sandler & Kevin James'

ВАРИАНТ 2

# Submission

In [154]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '5. 1',
 '6': '5. Avatar (tt0499549)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '7': '5. The Lone Ranger (tt1210819)',
 '10': '5. The Lone Ranger (tt1210819)',
 '13': '5. Peter Jackson',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '11': '4. Comedy',
 '12': '2. Comedy',
 '14': '1. Ridley Scott',
 '17': '2. Action',
 '16': '1. Tom Cruise',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave верно',
 '24': '1. Universal Pictures (Universal)',
 '25': '4. Paramount Pictures'}

In [155]:
# и убедиться что ни чего не пропустил)
len(answers)

25