In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data_sf.csv.xls')

In [3]:
small_df = df[df.columns[1:8]].head(25)
small_df

,Name,Age,Nationality,Club,Value,Wage,Position
0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF
1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST
2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW
3,De Gea,27,Spain,Manchester United,72000000,260000,GK
4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM
5,E. Hazard,27,Belgium,Chelsea,93000000,340000,LF
6,L. Modrić,32,Croatia,Real Madrid,67000000,420000,RCM
7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS
8,Sergio Ramos,32,Spain,Real Madrid,51000000,380000,RCB
9,J. Oblak,25,Slovenia,Atlético Madrid,68000000,94000,GK
10,R. Lewandowski,29,Poland,FC Bayern München,77000000,205000,ST
11,T. Kroos,28,Germany,Real Madrid,76500000,355000,LCM
12,D. Godín,32,Uruguay,Atlético Madrid,44000000,125000,CB
13,David Silva,32,Spain,Manchester City,60000000,285000,LCM
14,N. Kanté,27,France,Chelsea,63000000,225000,LDM
15,P. Dybala,24,Argentina,Juventus,89000000,205000,LF
16,H. Kane,24,England,Tottenham Hotspur,83500000,205000,ST
17,A. Griezmann,27,France,Atlético Madrid,78000000,145000,CAM
18,M. ter Stegen,26,Germany,FC Barcelona,58000000,240000,GK
19,T. Courtois,26,Belgium,Real Madrid,53500000,240000,GK
20,Sergio Busquets,29,Spain,FC Barcelona,51500000,315000,CDM
21,E. Cavani,31,Uruguay,Paris Saint-Germain,60000000,200000,LS
22,M. Neuer,32,Germany,FC Bayern München,38000000,130000,GK
23,S. Agüero,30,Argentina,Manchester City,64500000,300000,ST
24,G. Chiellini,33,Italy,Juventus,27000000,215000,LCB

In [7]:
s = small_df.Nationality.value_counts()

In [8]:
s

Spain        4
Uruguay      3
Belgium      3
Germany      3
Argentina    3
France       2
Brazil       1
Portugal     1
Italy        1
Croatia      1
Poland       1
Slovenia     1
England      1
Name: Nationality, dtype: int64

In [9]:
s.index[0]

'Spain'

In [10]:
s['Germany']

3

In [11]:
s.loc[s==3]

Uruguay      3
Belgium      3
Germany      3
Argentina    3
Name: Nationality, dtype: int64